body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

.sp-border-right {
    border-right: 2px solid #2b5d38;
    line-height: 18px;
  }


  .proza-libre-nav{
  font-family: 'Proza Libre', sans-serif;
  color:#2b5d38;
  font-weight:normal;
  }

  .banner-wrapper {
    width: 100%;
    position: relative;
  }
  
  .banner-image {
    width: 100%;
      height: 450px;
      background-color: gray;
  }
  
  .absolute-wrapper{
    
      position: absolute;
      width:100%;
      top:50%;
  }
   .padding-main{
     padding-left: 6rem!important;
     padding-right: 6rem!important;
   }
  

   @media screen and  (min-width: 1335px){
    .container{
        max-width: 1335px!important;
    }
  }

.vl {
  border-left: 2px solid rgb(230, 230, 230);
  height: 31px;
}
.green-bg{
  background-color: #1c6e26;
}

.carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 15px!important;
  height: 15px!important;
  margin-right: 24px!important;
  text-indent: -970px;
  cursor: pointer;
  background-color: #28a745!important;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
  border-radius: 50%!important;
}

.radius-border{
  border-radius: 3rem!important;
}

.abso-line{
  position: absolute;
  margin-top: -120px;
  margin-left: -123px;
}

.button-radius{
  border-radius: 25px!important;
}
 .bg-section-light{
   background-color: #d3d4d656!important;
 }

 .margin-ksel{
  margin-top: -349px;
 }
  
 .input-image {
  background-image: url('images/search.png');
  background-repeat: no-repeat;
  background-position: right;

}

.content-img {
  margin-top: 27%;
  margin-left: 35%;
}
}
