body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Proza Libre', sans-serif !important;
  }

.sp-border-right {
    border-right: 2px solid #2b5d38;
    line-height: 18px;
  }


  .proza-libre-nav{
  font-family: 'Proza Libre', sans-serif;
  color:#1f692a!important;
  font-weight:normal;
  
  }

  .banner-wrapper {
    width: 100%;
    position: relative;
  }
  
  .banner-image {
    width: 100%;
      height: 450px;
      background-color: gray;
  }
  
  .absolute-wrapper{
    
      position: absolute;
      width:100%;
      top:50%;
  }
  

.vl {
  border-left: 2px solid rgb(230, 230, 230);
  height: 31px;
}
.green-bg{
  background-color: #1c6e26!important;
}

.carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 13px!important;
  height: 13px!important;
  margin-right: 24px!important;
  margin-left:-10px!important;
  text-indent: -970px;
  cursor: pointer;
  background-color: #acacac!important;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
  border-radius: 50%!important;

}
.carousel-indicators{
  padding-left:30px!important;
}

.radius-border{
  border-radius: 3rem!important;
}

.abso-line{
  position: absolute;
  margin-top: -120px;
  margin-left: -123px;
}

.button-radius{
  border-radius: 25px!important;
}
 .bg-section-light{
   background-color: #d3d4d6a4!important;
 }

 .margin-ksel{
  margin-top: -349px;
 }
  
 .input-image {
  background-image: url('images/search.png');
  background-repeat: no-repeat;
  background-position: right;

}

.content-img {
  left: -97px;
  bottom: 60px;
}

.news-line-position{

  margin-left: 185px;
  margin-top: -45px;
  width: 13%;
}

a:hover {
  color: #1e7e34!important;
  text-decoration: underline;
}

.font-placeholder{
  font-size:24px!important;
}

.horisontal-mid {
    left: 0;
    right: 0;
} 

.bottom {
  bottom: 0;
}
.padding-texts{
  padding-right: 95px!important;
}
.padding-second-text{
  padding-right: 231px;
}

.carousel-indicators .active {
  opacity: 1;
  background-color: #1e7e34!important;
}

.white-smoke-bg{
  background-color: #f3f3f5;
}

.img-radius{
  border-radius:26px;
}

.line-mrg{
  margin-left:318px!important;
}


/* SM Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
 
}
 
/* MD Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
 
 .bottom-line{
   width: 283px;
   border:1px solid #a5a5a7;
 }


}
 
/* LG Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .position-lg-absolute {
    position: absolute;
  }


  .line-absolute-gr{
    padding-right: 12rem!important;
  }


  .text-padding-7{
    padding-right: 7rem!important;
  }

  .text-cntr{
    padding-right:390px;
  }

  .line-margin{
    margin-top: -21px!important;
    height: 15rem!important;
    z-index: 1;
  }

  .vert-short-line{
    border-left:1px solid #abc8b6;
    height: 43px;
    margin-left:11rem;
  }

  .padding-main{
    padding-left: 86px!important;
    padding-right: 86px!important;
   }

}
 



/* XL Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .container {
      max-width: 1335px!important;
  }
}